.treaning{
    background-color: #1A181D;
    padding: 0 10px;
}
@media screen and (max-width: 600px) {
    .treaning{
        padding: 0 10px;
    }
}
@media screen and (max-width: 430px) {
    .treaning{
        padding: 0 10px;
    }
}