.blog-banner{
    padding: 19vh 0 9vh 0;
    display: flex;
    // justify-content: center;
    align-items: center;
    &-description{
        h1{
            width: 600px;
            font-family: Arial;
            font-size: 37px;
            font-weight: 700;
            line-height: 50px;
            color: var(--white);
        }
        p{
            width: 700px;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.055em;
            color: var(--white);
            padding: 40px 0 35px 0;
        }
    }
}
.blog-banner .container{
        width: var(--global-max-width);
}