.training-registration {
    background-color: rgba(54, 54, 54, 0.85);
    width: 700px;
    height: 760px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    color: #fff; 
    padding: 20px 60px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(14px); 
    position: fixed;
    z-index: 100;
    .block{
        padding: 0 10px;
    }
    >h1{
        color: #fff;
        font-size: 34px;
        text-align: center;
    }
    p{
        font-weight: 300;
        margin: 20px 0;
    }
    > .table{
        display: flex;

        
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            width: 100%;
            margin-bottom: 10px;
            transition: 0.5s ease;
            cursor: pointer;
            > p{
                font-size: 14px;
                margin-left: 4px;
            }
        }
        >div:hover{
            background-color: #A35BFF;
        }
    }
    >div>p{
        text-align: left;
    }
    .price{
        display: flex;
        justify-content: space-between;
        >p{
            margin: 0;
            font-size: 48px;
            font-weight: 700;
        }
        > del{
            font-size: 30px;
            font-weight: 700;
            color: #ccc;
        }
    }
    .left{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .rigth{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .button{
        width: 260px;
        margin: auto;
        background-color: #A35BFF;
        padding: 10px 40px;
        margin-top: 20px;
        border-radius: 8px;
        cursor: pointer;
        >p{
            text-align: center;
            margin: 0;
            font-size: 14px;
        }
    }
    .close-window{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .close-reg{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid #fff;
        position: relative;
        >p{
            position: absolute;
            top: 44%;
            left: 54%;
            transform: translate(-50%, -50%);
            margin: 0;
            line-height: 0;
        }
    }
}


@media screen and (max-width: 800px) {
    .training-registration{
        width: 500px;
        height: 560px;
    }
}
