.service-info-page{

    min-height: 100vh;
    background: url("../../../assets/service/background.png"), #252525 0px 0px / 100% 100% no-repeat;
    .service-info{
    // padding: 0 80px;

        &-description{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            padding: 140px 0 0 0 ;
            .text-side{
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 760px;
                color: #fff;
                >h1{
                    color: #98DAFF;
                    margin-bottom: 96px;
                    font-family: Arial;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2.4px;
                }
                > p{
                    font-family: Arial;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 241.3%; /* 36.195px */
                    letter-spacing: 0.825px;
                    
                }
                
                &-buttons{
                    > .button{
                        border-radius: 15px;
                        border: 2px solid #8F8F8F;
                        background-color: transparent;
                        color: #fff;
                        cursor: pointer;
                        transition: 1s;
                    }
                    > .button:hover{
                        background: linear-gradient(#A763DB
                        , #5A4EAF
                        );
                        
                    }

                }
            }
            .icon-side{

                position: relative;
                > img{
                    width: 100%;
                    height: 100%;
                }
                .round{
                    background-color: #1A181D;

                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:translate(-50%, -50%);
                    > img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 72px;
                        height: 72px;
                    }
                }
            }
        }
    }
}
.website-types{
    padding: 0 10px;
    h1{
        color: var(--main-text-night, #FFF);
        font-family: Arial;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.2px;
        margin-bottom: 30px;
        margin-top: 110px;
    }
    &-items{
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
    }
    &-item{
        padding: 10px 30px;
        border-radius: 10px;
        border: 0.5px solid #FFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        > p{
            color: #ECECEC;
            font-family: Arial;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 134.8%; /* 20.22px */
            letter-spacing: 0.825px;
        }
    }
}

.website-info{
    margin-top: 88px;
    padding: 0 10px;
    h1{
        color: #FFF;
        font-family: Arial;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 134.8%; 
        letter-spacing: 1.98px;
        margin-bottom: 30px;
    }
    p {
        color: #FFF;
        font-family: Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 134.8%; /* 20.22px */
        letter-spacing: 2px;
        word-spacing: 6px;
    }
    .float{
        padding: 30px;
        padding-top: 0px;
        float: right;
    }
}
.service-form{
    width: 1300px;
    height: 700px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #36363691;
    color: #fff; 
    padding: 20px 60px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    font-size: 12px;
    font-weight: 200;
    
    h2{
        font-family: Arial;
        font-size: 36px;
        font-weight: 700;
        line-height: 48.53px;
        letter-spacing: 0.055em;
        text-align: left;
        text-align: center;
        margin-bottom: 30px;
        span{
            font-family: Arial;
            font-size: 36px;
            font-weight: 700;
            line-height: 48.53px;
            letter-spacing: 0.055em;
            text-align: left;
            color: #98DAFF;

        }
    }
    .conatiner{
        max-width: 900px;
    }
    &-type{
        display: flex;
        p{
            width: 240px;
            font-family: Arial;
            font-size: 17px;
            font-weight: 400;
            line-height: 26.96px;
            letter-spacing: 0.055em;
        }
        &-select{
            padding: 0 15px;
            .option{
                font-family: Arial;
            font-size: 13px;
            font-weight: 400;
            line-height: 20.22px;
            letter-spacing: 0.055em;
            text-align: left;
            }
        }
    }
    &-budjet{
        display: flex;
        margin: 30px 0;
        p{
            width: 240px;
            font-size: 14px;
            font-weight: 200;
        }
    }
    .box{
        width: 180px;
        height: 50px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: var(--white);
        border-radius: 10px;
        cursor: pointer;
        span{
            font-family: Arial;
            font-size: 13px;
            font-weight: 400;
            line-height: 20.22px;
            letter-spacing: 0.055em;
            text-align: left;
        }
        .option{
            cursor: pointer;
            font-family: Arial;
            font-size: 13px;
            font-weight: 400;
            line-height: 20.22px;
            letter-spacing: 0.055em;
            text-align: left;
        }
    }
    .send-form{
        display: flex;
        p{
            width: 240px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 30px;
            input{
                width: 310px;
                height: 50px;
                border-radius: 15px;
                background: #4B4B4B;
                color: #FFFFFF;
                border: none;
                outline: none;
                padding-left: 15px;
                
            }
            ::placeholder {
                color: #FFFFFF;
                opacity: 1; /* Firefox */
              }
              
              ::-ms-input-placeholder { /* Edge 12-18 */
                color: #FFFFFF;
              }
            button{
                background: linear-gradient(92.88deg, #A663DB 9.74%, #6751B7 99.48%);
                width: 300px;
                height: 60px;
                border: none ;
                border-radius: 15px;
                color: white;
                font-size: 18px;
            }
        }
    }


    .close-window{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .close-reg{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid #fff;
        position: relative;
        >p{
            position: absolute;
            top: 44%;
            left: 54%;
            transform: translate(-50%, -50%);
            margin: 0;
            line-height: 0;
        }
    }
}

.serivce-form-budjet-items{
    display: flex;
    gap: 30px;
    &-item{
        cursor: pointer;
        transition: 200ms ease;
    }
}




@media screen and (min-width: 1350px) {
    .service-info-page{
        // padding: 0 80px;
    }
    .service-info{
        &-description{
            padding-top: 126px;
        }
    }
    .icon-side{
        width: 412px;
        height: 412px;
    }
    .round{
        width: 280px;
        height: 280px;
    }
    .text-side{
        &-buttons{
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 82px;
            margin-top: 60px;
        }
    }
    .float{
        float: right;
    }

}

@media screen and (max-width: 1300px) {
    .float{
        width: 100%;
    }
}

@media screen and (min-width: 501px) {
    .round{
        width: 280px;
        height: 280px;
    }
    .text-side{
        &-buttons{
            .button{
                padding: 18px 34px;
            }
        }
    }

}
@media screen and (max-width: 1350px) {
    .service-info-page{
        // padding: 0;
    }

    .service-info{
        &-description{
            flex-direction: column-reverse;
            flex-wrap: wrap;
            padding-top: 126px;
        }
    }
    .text-side{
        padding: 0 20px;
        > p{
            text-align: justify;
        }
        > h1{
            text-align: center;
        }
        &-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 82px;
            margin-top: 60px;
            
        }
    }


}

@media screen and (max-width: 500px) {
    .icon-side{
        width: 300px;
        height: 300px;
    }
    .round{
        width: 200px;
        height: 200px;
    }
    .text-side{
        padding: 0 10px;
        &-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 60px;
            > .button{
                padding: 10px 20px;
            }
        }
    }
    .website-types{
        &-items{
            flex-direction: column;
            padding: 0 10px;
        }
        h1{
            text-align: center;
        }
    }
    .landing-site{
        h1{
            text-align: center;
        }
    }
}
@media screen and (max-width: 400px) {
    .text-side{
        &-buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 60px;
            
        }
    }
    .service-info{
        padding: 0 4px;
    }
}
